In [111]:
import org.apache.spark.streaming.StreamingContext._
import org.apache.spark.streaming.{Seconds, StreamingContext}
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SQLContext
import org.apache.spark.streaming.Duration
import org.apache.spark.sql.functions.udf
import org.apache.spark.sql.types
import spark.implicits._

import org.apache.spark.streaming.StreamingContext._
import org.apache.spark.streaming.{Seconds, StreamingContext}
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SQLContext
import org.apache.spark.streaming.Duration
import org.apache.spark.sql.functions.udf
import org.apache.spark.sql.types
import spark.implicits._

In [112]:
!rm -r checkpoint

In [113]:
!mkdir checkpoint

In [114]:
val df = spark.read
    .json("input/*.json")

df: org.apache.spark.sql.DataFrame = [agent-phone: string, bath: string ... 17 more fields]

In [115]:
df.count()

res44: Long = 34

In [116]:
val schema = df.schema

schema: org.apache.spark.sql.types.StructType = StructType(StructField(agent-phone,StringType,true),StructField(bath,StringType,true),StructField(bedrooms,StringType,true),StructField(beds,StringType,true),StructField(data-est,StringType,true),StructField(data-lk,StringType,true),StructField(data-pk,StringType,true),StructField(data-pos,StringType,true),StructField(full_bathrooms,StringType,true),StructField(home_type,StringType,true),StructField(ldp-description-text,StringType,true),StructField(ldp-phone-link,StringType,true),StructField(price,StringType,true),StructField(property-info-address-citystatezip,StringType,true),StructField(property-info-address-main,StringType,true),StructField(sold date,StringType,true),StructField(sqft,StringType,true),StructField(status,StringType,true),...

In [130]:
val df = spark.readStream
    .format("json")
    .schema(schema)
    .option("multiLine", "false")
    .option("cleanSource", "archive")
    .option("sourceArchiveDir", f"input_archive")
    .load("input/*.json")

df: org.apache.spark.sql.DataFrame = [agent-phone: string, bath: string ... 17 more fields]

In [131]:
/*
df
    .writeStream
    .outputMode("append")
    .option("truncate", false)
    .format("console")
    .start()
    .awaitTermination()
    */

In [133]:
val df2 = df.writeStream
    .option("path", "output")
    .option("checkpointLocation", "checkpoint")
    .toTable("houses")

df2: org.apache.spark.sql.streaming.StreamingQuery = org.apache.spark.sql.execution.streaming.StreamingQueryWrapper@b7797a9

In [134]:
Thread.sleep(4)
df2.stop()

In [135]:
val df3 = spark.read.table("houses")

df3: org.apache.spark.sql.DataFrame = [agent-phone: string, bath: string ... 17 more fields]

In [136]:
df3.show(10)

+--------------+-------------------+--------------------+-------+--------+-------------+-------------+--------+----------------+-------------+--------------------+--------------+--------+----------------------------------+--------------------------+------------+------------+-------------------+--------------------+
|   agent-phone|               bath|            bedrooms|   beds|data-est|      data-lk|      data-pk|data-pos|  full_bathrooms|    home_type|ldp-description-text|ldp-phone-link|   price|property-info-address-citystatezip|property-info-address-main|   sold date|        sqft|             status|                 url|
+--------------+-------------------+--------------------+-------+--------+-------------+-------------+--------+----------------+-------------+--------------------+--------------+--------+----------------------------------+--------------------------+------------+------------+-------------------+--------------------+
|          NULL|Henderson, NV 89011|Bedrooms and Bath...|3\nBeds|    sold|lwckcx4f9w4en|y3jpq3k9790tb|      34|2 Full Bathrooms|Single Family|The elegant one-s...|          NULL|$517,290|               Henderson, NV 89011|                109 Lepage|        NULL|1,742\nSq Ft|not listed for sale|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|30srnb6dcl61s|phh1k5ec63yl2|      33|            NULL|Single Family|Discover unparall...|          NULL|    NULL|               Henderson, NV 89015|           323 Tungsten St| feb 9, 2024|1,219\nSq Ft|               sold|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|m6pfqrn229px1|23hvemg3h3872|      32|            NULL|Single Family|Welcome to this g...|          NULL|    NULL|               Henderson, NV 89015|           34 Arkansas Ave|feb 12, 2024|1,062\nSq Ft|               sold|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|fl1ftj7dvh143|3fvg8myg86lnz|      31|            NULL|Single Family|Location, locatio...|          NULL|$190,000|               Henderson, NV 89015|           231 S Texas Ave|        NULL|  878\nSq Ft|not listed for sale|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|2nnk1kdt634nd|82zdwmq1pm3q0|      30|2 Full Bathrooms|Single Family|Beautiful 3bd 2ba...|          NULL|    NULL|               Henderson, NV 89015|             60 Mallory St| apr 4, 2024|1,330\nSq Ft|               sold|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|er7gkdt4pp33w|rpbxqtjm1wlc6|      29|            NULL|Single Family|Gorgeous newly re...|          NULL|    NULL|               Henderson, NV 89015|         15 Washington Way|apr 10, 2024|  942\nSq Ft|               sold|https://www.homes...|
|(702) 528-1500|Henderson, NV 89015|Henderson Water S...|3\nBeds|    sold|f0zb921cfpyj2|7781e5jvydf6s|      28|            NULL|Single Family|Henderson Water S...|(702) 528-1500|    NULL|               Henderson, NV 89015|            27 Wyoming Ave|apr 15, 2024|1,014\nSq Ft|               sold|https://www.homes...|
|(725) 888-8724|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|4g0gvwv55j7t1|3vf0396f6m4xm|      27|            NULL|Single Family|CHARMING SINGLE S...|(725) 888-8724|    NULL|               Henderson, NV 89015|          43 E Pacific Ave|may 16, 2024|  866\nSq Ft|               sold|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|el5c6mj5cmxpq|wlsyhjshjc471|      26|2 Full Bathrooms|Single Family|Enter this stunni...|          NULL|    NULL|               Henderson, NV 89015|              50 Lowery St|may 31, 2024|1,345\nSq Ft|               sold|https://www.homes...|
|          NULL|Henderson, NV 89015|Bedrooms and Bath...|3\nBeds|    sold|xwldw014fhskl|42jhlb2r98zvb|      25|            NULL|Single Family|Nice 3 Bedroom, 1...|          NULL|    NULL|               Henderson, NV 89015|           247 S Texas Ave| jun 3, 2024|1,150\nSq Ft|               sold|https://www.homes...|
+--------------+-------------------+--------------------+-------+--------+-------------+-------------+--------+----------------+-------------+--------------------+--------------+--------+----------------------------------+--------------------------+------------+------------+-------------------+--------------------+
only showing top 10 rows