In [2]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window
from delta import *
from delta.tables import DeltaTable
import json
import pandas as pd
import datetime
import time

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000) # Adjust as needed
pd.set_option('display.max_colwidth', None)

spark = (pyspark.sql.SparkSession.builder.appName("MyApp").master("local[*]")
    .config("spark.jars.packages", "io.delta:delta-spark_2.12:3.1.0")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .config("spark.delta.logStore.class", "org.apache.spark.sql.delta.storage.S3SingleDriverLogStore")
.getOrCreate())
spark.sparkContext.setLogLevel('ERROR')

Create a dataframe from a list of

In [3]:
collection = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]
df_array = spark.sparkContext.parallelize(df_array)
df_array = spark.read.json(df_array)
df_array.show()

+---+----+----------------+------+
|age|  id|        metadata|  name|
+---+----+----------------+------+
| 37|2111|[[a, 1], [b, 2]]|OLIVIA|
+---+----+----------------+------+

In [3]:
%sql
select 1

SyntaxError: invalid syntax (4137734061.py, line 2)